.recipiente{
  background: #303030;
  position: fixed;
  top: 0;
  left: 0px;
  height: 50px;
  width: 100%;
}
.recipiente h1{
  color: #fff;
  padding-top: 18px;
  padding-left: 10%;
}

.conteudo{
  width: 80%; margin: 0 10%; padding: 100px 0;
  position: relative;
  height: 500px;
}

table {
   width: 100%;
   height: 100px;
}
table, th, td {
   border: 1px solid black;
}
.tabelaHead{
  background-color: #f1f1f1;
}

.tabelaHead th{
  height: 30px;
  padding:10px; 
}
.tBody th, td {
    padding: 10px;
    text-align: left;
}

::-webkit-input-placeholder  { color:#d3cfcf; }

fieldset{
  border:0;
  margin-top: 20px;
}
#campo-nome{
  width: 100%;
  padding: 10px;
  text-align: left;
  height: 20px;

}

#campo-peso{
  width: 100%;
  padding: 10px;
  text-align: left;
  height: 20px;
}

#campo-altura{
  width: 100%;
  padding: 10px; 
  text-align: left;
  height: 20px;
}

/* FONTS PESO */
.font100{font-weight: 100 !important;}/* nao importa o estilo do elemento pai..ele para de herdar e acplica a fonte */
.font300{font-weight: 300 !important;}
.font400{font-weight: 400 !important;}
.font700{font-weight: 700 !important;}

/* FONTS SIZE*/
.fontzero{font-size: 0em !important;} 
.fontsize1{font-size: 1em;}
.fontsize1b{font-size: 1.5em;}
.fontsize2{font-size: 2em;}
.fontsize2b{font-size: 2.5em;}
.fontsizep{font-size: 1em; float: left; width: 100%;}

/*BOTÕES*/
.btn{
  margin-top: 2px;
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px; /* (cima e baixo) e (dos lados)*/
  background: #333;
  border: 1px solid #222;
  color: #fff;
  font-size: 1em;
  font-weight: 400px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

/*balao de dialogo*/
#dialogo{
font-family:verdana;
font-size:13px;
color:#A94442;
}

.dialogo-titulo{
  background-color:#F2DEDE;
}

body h3 {
  background-color: #ff8533;
  border:1px solid #8c8c8c;
  width: 35%;
  color:#ffffff;
  font-weight: 300 !important;
}
